<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
	   xmlns:flex = "http://www.springframework.org/schema/flex"
	   xmlns:context = "http://www.springframework.org/schema/context"
	   xmlns:p = "http://www.springframework.org/schema/p"
	   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation = "
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/flex 
        http://www.springframework.org/schema/flex/spring-flex-1.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<flex:message-broker>
		<flex:remoting-service default-channels = "my-amf"/>
	</flex:message-broker>

	<context:annotation-config/>

	<!-- services -->
	<bean id = "applicationService"
		  class = "gfp.service.ApplicationService"
		  factory-method = "getInstance"/>

	<bean id = "bancoService"
		  class = "gfp.service.BancoService"
		  factory-method = "getInstance"/>

	<bean id = "categoriaService"
		  class = "gfp.service.CategoriaService"
		  factory-method = "getInstance"/>

	<bean id = "contaService"
		  class = "gfp.service.ContaService"
		  factory-method = "getInstance"/>

	<bean id = "lancamentoService"
		  class = "gfp.service.LancamentoService"
		  factory-method = "getInstance"/>

	<bean id = "usuarioService"
		  class = "gfp.service.UsuarioService"
		  factory-method = "getInstance"/>
</beans>
