/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace ah "common.spark.component.tooltip.*";
@namespace main "gfp.view.main.*";

@font-face {
	src: url("../fonts/VAGRounded Lt Normal.ttf");
	fontFamily: Default;
	fontWeight: normal;
	embedAsCff: true;	
}

@font-face {
	src: url("../fonts/VAG Round.ttf");
	fontFamily: Title;
	fontWeight: normal;
	embedAsCff: true;
}

s|Application {
	fontFamily: Default;
	fontSize: 12;
}

mx|CursorManager
{
	busy-cursor: Embed("/assets/skins/UndefinedPersonalSkinLoad.swf");
}

main|CustomButtonBar
{
	skinClass: ClassReference("assets.skins.CustomButtonBarTopSkin");
}

main|CustomButtonBar, main|CustomButtonBarButton {
	font-size: 13;
	font-weight: normal;
}

s|Label, s|ButtonBar, s|RadioButton {	
	color: #2074A3;
	fontWeight: normal;
}

s|CheckBox {
	skinClass: ClassReference("assets.skins.CheckboxSkin");
	symbolColorChecked: #70d000;
	symbolColorUnchecked: #e83800;
	fontSize: 11;
	fontWeight: normal;
	color: #2074A3;
}

mx|DataGrid {
	color: #2074A3;
	verticalGridLines: false;
	borderStyle: solid;
	borderColor: #F6F9F6;
	alternatingItemColors: #FFFFFF, #F6F9F6;
}

s|TextInput, s|NumericStepper {
	borderColor: #BDC0CB; 
	color: #2074A3;
	focusColor: #2074A3;
	focusThickness: 1;
	pr: normal;
}

s|DropDownList, s|ComboBox {
	color: #2074A3;
}

ah|NiceToolTip {
	color: #2074A3;
	chromeColor: #efe4b0;	
	fontSize: 12;
	fontFamily: Default;
	fontWeight: normal;
	maxWidth: 100;	
}

ah|NiceToolTip.errorTip {
	color: #f8f8f8;
	chromeColor: #e02010;
	fontSize: 12;
	fontFamily: Default;
	fontWeight: normal;
	maxWidth: 100;	
}

mx|HRule {
	stroke-color: #c4e3ff;
}

mx|Alert, mx|TileList {
	borderColor: #BDC0CB;
	color: #2074A3;
}

global {
	modal-transparency-color: #000000;
	modal-transparency: .4;
}

mx|global
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
	textInputClass: ClassReference("mx.controls.MXFTETextInput"); 
}

.styleButtonAdd {
	iconClass: ClassReference("assets.images.Add");
	chromeColor: #4267B7;
}

.styleButtonFind {
	iconClass: ClassReference("assets.images.Magnifier");
	chromeColor: #4267B7;
}

.styleButtonCheck {
	iconClass: ClassReference("assets.images.Check");
	chromeColor: #77AA56;
}

.styleButtonCancel {
	iconClass: ClassReference("assets.images.Cross");
	chromeColor: #882E2D;
}

.stylePanelTitle {
	fontFamily: "Title";
	fontSize: 14;
	color: #014C6B;
}

s|Button  {
	skinClass: ClassReference('assets.skins.GenericIconButtonSkin');
	fontSize: 16;
	fontFamily: Title;
	iconColor: #e0e0e0;
	iconScale: 0.75;
}

s|Button:over {
	color: #ffffff;
	iconColor: #ffffff;
}